<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>WORD UDB</title>
</head>
    <body>
        <h1>¿Quienes somos?</h1>
    <h2>Este proyecto esta inspirado para desarrollar la capacidad de aprender nuevos lenguajes y asi darle seguimiento a la carrera de Ingeneria de Ciencia de la Computacion</h2>
    <h2>El Proyecto esta desarrollado por los estudiante de Ingenieria en Ciencias de la Computacion</h2>
    <table class="egt">

        <tr>
      
          <th>Estudiantes</th>

        </tr>

        <tr>
            <th>Aguilar Orantes, Cinthya Raquel</th>
        </tr>
      
        <tr>
          <td>Arias Acosta, Virgilio Javier</td>
        </tr>
      
        <tr>
            <td>Castro Rivera, Irvin Alexis</td>
          </tr>

          <tr>
            <td>Funes Moran, Roberto Fernando</td>
          </tr>
      </table>
	</body>
</html>
